#infoAlertDiv {
  background: rgb(41, 40, 40);
  position: absolute;
  top: 0;
  height: 20px;
  width: 100%;
}
#infoAlertA {
  color: gray !important;
  font-size: 10px !important;
  margin: 0;
  padding: 0;
}

nav {
  top: 1.25rem;
  opacity: 0.5;
}

header {
  background-image: url("/./airbnb/assets/imgs/homepage/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg");
  background-color: #000000;
}
